<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<add name="PhoneStoreDb"
			 connectionString="Server=localhost;
                           Port=3306;
                           Database=phonestore_management;
                           Uid=phonestore_user;
                           Pwd=123456;
                           SslMode=None;
                           AllowPublicKeyRetrieval=True;
                           CharSet=utf8mb4;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0"
						  sku=".NETFramework,Version=v4.7.2" />
	</startup>

</configuration>
